{
  "source": "kde/frameworks/kconfig/src/kconfig_compiler/KConfigHeaderGenerator.cpp",
  "wave": "wave3",
  "loc_estimate": 659,
  "status": "stubbed",
  "stub": "pbsd/ports/wave3/kde/frameworks/kconfig/src/kconfig_compiler/KConfigHeaderGenerator.cppm",
  "module": "pbsd.port.wave3.kde.frameworks.kconfig.src.kconfig_compiler.kconfigheadergenerator",
  "generated": "2026-07-19T09:30:19+00:00"
}
