{
  "source": "kde/frameworks/kconfig/src/kconfig_compiler/KConfigCodeGeneratorBase.cpp",
  "wave": "wave3",
  "loc_estimate": 265,
  "status": "stubbed",
  "stub": "pbsd/ports/wave3/kde/frameworks/kconfig/src/kconfig_compiler/KConfigCodeGeneratorBase.cppm",
  "module": "pbsd.port.wave3.kde.frameworks.kconfig.src.kconfig_compiler.kconfigcodegeneratorbase",
  "generated": "2026-07-19T09:30:16+00:00"
}
