{
  "source": "kde/frameworks/kconfig/src/qml/kconfigpropertymap.cpp",
  "wave": "wave3",
  "loc_estimate": 138,
  "status": "stubbed",
  "stub": "pbsd/ports/wave3/kde/frameworks/kconfig/src/qml/kconfigpropertymap.cppm",
  "module": "pbsd.port.wave3.kde.frameworks.kconfig.src.qml.kconfigpropertymap",
  "generated": "2026-07-19T09:30:14+00:00"
}
