{
  "source": "kde/frameworks/kconfig/src/core/kconfigdata.cpp",
  "wave": "wave3",
  "loc_estimate": 337,
  "status": "stubbed",
  "stub": "pbsd/ports/wave3/kde/frameworks/kconfig/src/core/kconfigdata.cppm",
  "module": "pbsd.port.wave3.kde.frameworks.kconfig.src.core.kconfigdata",
  "generated": "2026-07-19T09:30:17+00:00"
}
